<!doctype html>
<head>
  <style>
    a.setdefault {
      font-size: 75%;
    }
  </style>
</head>

<title>{% block title %}{% endblock %} - SFMTA</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('home') }}">SFMTA</a></h1>
  <ul>
    <li><a href="{{ url_for('reference.show_vehicles') }}">List Vehicles</a></li>
    <li><a href="{{ url_for('location.location_functions') }}">Vehicle Locations</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
