{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find Stopped Vehicles{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <form method="post">
      <label for="datetime">
          Search Date/Time
          <a class="setdefault" href="#" onclick="javascript:document.getElementById('datetime').value='2014-08-29 10:00:00'">(default)</a>
      </label>
      <input name="datetime" id="datetime" value="{{ request.form['datetime'] }}" required />

      <label for="timewindow">
          Time Window (minutes)
          <a class="setdefault" href="#" onclick="javascript:document.getElementById('timewindow').value='60'">(default)</a>
      </label>
      <input name="timewindow" id="timewindow" value="{{ request.form['timewindow'] }}" required />

      <input type="submit" value="Search">
    </form>
  </div>

{% if vehicles %}
  <div>
    <h2>Stopped Vehicles</h2>
    <a href="{{ url_for('location.stopped_on_map', datetime=request.form['datetime'], window=request.form['timewindow']) }}">Show Top 25 On Map</a>
    <table class="results">
      <thead>
        <th>Vehicle</th>
        <th>Train Assignment</th>
        <th>When Stopped</th>
        <th>Stop Length (min.)</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </thead>
      <tbody>
        {% for vehicle in vehicles %}
          <tr>
            <td>{{ vehicle[0] }}</td>
            <td>{{ vehicle[1] }}</td>
            <td>{{ vehicle[2] }}</td>
            <td class="centered-cell">{{ vehicle[3] }}</td>
            <td>{{ vehicle[5] }}</td>
            <td>{{ vehicle[4] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% endblock %}
