<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Stopped Vehicles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 37.76, lng: -122.419418}
        });

        {% for vehicle in vehicles %}
          var marker{{ vehicle[0] }} = new google.maps.Marker({
            position: {lat: {{ vehicle[5] }}, lng: {{ vehicle[4] }}},
            map: map,
            title: '{{ vehicle[0] }}: stopped {{ vehicle[3] }} minutes'
          });
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ googleAPIkey }}&callback=initMap">
    </script>
  </body>
</html>